@import "../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css";
@import '../../vendor/twbs/bootstrap-icons/font/bootstrap-icons.css';

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

